*{
    margin: 0;
    padding: 0
}


body{
    font-family: "Urbanist";
    
    font-family: Urbanist;
}

.header{
    display: flex;
    background: #10BBD5;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    justify-content: space-between;
    padding: 14px 36px;
}

ul{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.image{
   margin: 14px 0;
}

.header-text, li, a{
    list-style: none;
    text-decoration: none;
    color: #1A1B1B;
    text-align: center;

    font-size: 16px;
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;

}


.nav-live{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-left: 1px solid #D4D4D4; 
    padding: 8px;
}

.nav-live span{
    color: #ED0E05;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-weight: 600;
}
/* ----------------------------------------------------------------------- */
main{
    margin: 0 36px;
}

.main-text{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4; 
}

.main-text h2{
    
    color: #1A1B1B;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%; 
}

.main-text h1{
    
    color: #1A1B1B;
    font-size: 62px;
    font-weight: 600;
    line-height: 110%; 
    margin-top: 1px;

} 

.section-1{
    margin-top: 32px;
    display: flex;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 56px;
}

.topic-post{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 746px;
    height: 496px;
    flex-direction: column;
    gap: 16px;
    
}

.img{
    position: relative;
}


.play{
    position: absolute;
    top: 68px;
    left: 154px;
}

.play-2{
    position: absolute;
    top: 130px;
    left: 264px;
}

.text{
    display: flex;
    color: #1A1B1B;
    font-size: 28px;
    font-weight: 800;
    line-height: 110%; /* 30.8px */
}

.plate p{
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
}

.plate{
    position: absolute;
    top: 380px;
    display: inline-flex;
    padding: 10px 20px 10px 0px;
    align-items: flex-start;
    background: #FFF;
}

.subtopic-block{
    display: flex;
    margin-left: 24px;
    gap: 32px;
    flex-direction: column;
}


.post{
    display: flex;
    gap: 24px;
    border-bottom: 1px solid #D4D4D4;;
    padding-bottom: 32px;
}

.title-text{
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
}

.paragraph{
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}


.news{
    display: flex;
    margin-top: 56px;
    
}

.section-title{
    color: #1A1B1B;
    font-size: 42px;
    font-weight: 800;
    line-height: 110%; /* 46.2px */   
}

.more-about-block{
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.post-block{
    display: flex;
    gap: 24px;
    align-items: center;
}

.subtopic-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 526px;
    height: 146px;
}


.news-text{
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.date{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%; /* 16.8px */
}

.pang{
    margin-top: 64px;
    display: flex;
    width: 1367px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}

.pang-content{
    display: flex;
    align-items: center;
    gap: 16px;
}

.pages{
    display: flex;
    width: 37px;
    height: 37px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    background-color: #FFF;    
}

.frame{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%; /* 16.8px */   
}

.pages-text{
    color: #006CE5;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%; /* 16.8px */    
}

.next{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;    
}

.rectangle-search{
    margin-top: 40px;
    height: 274px;
    flex-shrink: 0;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;    
    display: flex;
    
    justify-content: center;
}

.search-tag{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    
}

.search{
    display: flex;

}


.search input{ 
    height: 36px;
    display: flex;
    width: 306px;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    background: #DCE4E7;
    border: none;
}



.dandruff{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    background: #006CE5;    
    border: none;
}

.tag-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.tag-button{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    background: #FFF;
    border: none;
}

.tag-text{
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.tag-items{
    display: flex;
    width: 526px;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

footer{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-text{
    color: #1A1B1B;
    font-size: 16px;    
    font-weight: 400;
    line-height: 120%; /* 19.2px */    
}